In [200]:
import pandas as pd
import os
import numpy as np
import re

In [205]:
pc=pd.read_csv('C:/Users/ttodd/OneDrive/Desktop/capstone/final data/PCE_ALL_AREAS.csv')

In [206]:
state_list=["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware",'District of Columbia',"Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]
pc=pc.loc[pc['GeoName'].isin(state_list),:]
pc_percap=pd.read_csv('C:/Users/ttodd/OneDrive/Desktop/capstone/final data/PCPCE_ALL_AREAS.csv')
pc_percap=pc_percap.loc[pc_percap['GeoName'].isin(state_list),:]

In [207]:
pc_2016=pc.loc[:,['GeoName','Description','2011','2012']]
pc_2016['lagged']=pc_2016['2012']-pc_2016['2011']
pc_2016=pc_2016.loc[:,['GeoName','Description','lagged']]
pc_2016_cleaned=pc_2016.pivot(index='GeoName', columns='Description', values='lagged').reset_index().rename_axis(None, axis=1)

pc_2016_cleaned.to_csv('./pc_lagged_2016.csv')

In [219]:
pc_2016_cleaned.columns

Index(['GeoName', '   Clothing and footwear',
       '   Food and beverages purchased for off-premises consumption',
       '   Furnishings and durable household equipment',
       '   Gasoline and other energy goods', '   Motor vehicles and parts',
       '   Other durable goods', '   Other nondurable goods',
       '   Recreational goods and vehicles', '  Durable goods',
       '  Financial services and insurance',
       '  Food services and accommodations', '  Health care',
       '  Household consumption expenditures (for services)',
       '  Housing and utilities', '  Nondurable goods', '  Other services',
       '  Recreation services', '  Transportation services',
       ' Final consumption expenditures of nonprofit institutions serving households (NPISHs)',
       ' Goods', ' Gross output of nonprofit institutions',
       ' Less: Receipts from sales of goods and services by nonprofit institutions',
       ' Services', 'Personal consumption expenditures'],
      dtype='object')

In [202]:
#clean personal income data

In [9]:
variable_list=[]
data_list=['SA1_1929_2017.csv','SA51_1948_2017.csv']
data_path='C:/Users/ttodd/OneDrive/Desktop/capstone/personal_income/spi0318/'
for i in os.listdir(data_path):
    if i.endswith('ALL_AREAS.csv'):
        data_list.append(i)

['SA1_1929_2017.csv',
 'SA51_1948_2017.csv',
 'SA25N_1998_2016__ALL_AREAS.csv',
 'SA25_1969_2001__ALL_AREAS.csv',
 'SA27N_1998_2016__ALL_AREAS.csv',
 'SA27_1969_2001__ALL_AREAS.csv',
 'SA30_1958_2016__ALL_AREAS.csv',
 'SA35_1929_2016__ALL_AREAS.csv',
 'SA40_1958_2016__ALL_AREAS.csv',
 'SA45_1969_2016__ALL_AREAS.csv',
 'SA4_1929_2017__ALL_AREAS.csv',
 'SA50_1948_2016__ALL_AREAS.csv',
 'SA5H_1929_1957__ALL_AREAS.csv',
 'SA5N_1998_2017__ALL_AREAS.csv',
 'SA5_1958_2001__ALL_AREAS.csv',
 'SA6N_1998_2017__ALL_AREAS.csv',
 'SA6_1958_2001__ALL_AREAS.csv',
 'SA7H_1929_1957__ALL_AREAS.csv',
 'SA7N_1998_2017__ALL_AREAS.csv',
 'SA7_1958_2001__ALL_AREAS.csv']

In [225]:
final_result=pd.DataFrame({'state':state_list})
lagged_year_list=['2011','2012']
for i in data_list:
    temp_data=pd.read_csv(data_path+i)
    temp_data_column=temp_data.columns
    temp_data_column=list(temp_data_column)
    final_column_part1=['GeoName','Description']
    final_column_part2=temp_data_column[7:]
    final_column_part2=[x for x in final_column_part2 if x>='1998' and x<='2016']
    final_column=final_column_part1+final_column_part2
    lag_column=final_column_part1+lagged_year_list
    if len(final_column)==21:
        temp_lag_data=temp_data.loc[:,lag_column]
        temp_lag_data.loc[:,lagged_year_list]=temp_lag_data.loc[:,lagged_year_list].apply(pd.to_numeric,errors='coerce')
        temp_lag_data['lagged']=temp_lag_data[lagged_year_list[1]]-temp_lag_data[lagged_year_list[0]]
        temp_lag_data=temp_lag_data.loc[:,final_column_part1+['lagged']]
        temp_lag_data=temp_lag_data.drop_duplicates()
        temp_lag_data=temp_lag_data.dropna(subset=['GeoName','Description'])
        temp_lag_data.replace(0,np.nan)
        temp_lag_data.replace(0.0,np.nan)
        temp_lag_data.dropna(thresh=2)
        drop_column=temp_lag_data['Description'].value_counts()
        drop_column=list(drop_column[drop_column!=60].index)
        temp_lag_data=temp_lag_data.loc[~temp_lag_data['Description'].isin(drop_column),:]
        print(drop_column)
        temp_result=temp_lag_data.pivot(index='GeoName', columns='Description', 
                                        values='lagged').reset_index().rename_axis(None, axis=1)
        temp_result['GeoName']=temp_result['GeoName'].str.replace('*','')
        temp_result=temp_result.loc[temp_result['GeoName'].isin(state_list),:]
        temp_column=temp_result.columns
        
        cleaned_column=[re.sub('([0-9]{1}\/)|(^\s+)','',x) for x in temp_column]
        #if 'Personal income (thousands of dollars)' in cleaned_column:
            #print(i)
        #print(temp_data.loc[temp_data['Description']=='Personal income (thousands of dollars)',lagged_year_list])
        temp_result.columns=cleaned_column
        column_to_use=temp_result.columns.difference(final_result.columns)
        final_result=pd.merge(final_result,temp_result[column_to_use],left_on=final_result.state,right_on=temp_result.GeoName,how='inner')
        final_result=final_result.drop('GeoName',axis=1)
final_result=final_result.T.drop_duplicates().T

[]
[]
[]
[]
[]
[]
[]
[]
[]
['    Motor vehicle licenses', '    Income taxes']
[]
[]
[]

In [214]:
final_result=pd.merge(final_result,pc_2016_cleaned,left_on=final_result.state,right_on=pc_2016_cleaned.GeoName,how='inner')
final_result=final_result.drop('GeoName',axis=1)

In [216]:
final_result

(51, 290)

In [217]:
final_result.to_csv('final_data.csv',index=False)

In [210]:
final_result=final_result.T.drop_duplicates().T

In [211]:
final_result.shape

(51, 710)

In [212]:
final_result.columns

Index(['state', 'Per capita personal income (dollars) _x',
       'Personal income (thousands of dollars)_x', 'Population (persons) _x',
       'Disposable personal income (thousands of dollars)',
       'Per capita disposable personal income (dollars) _x',
       'Apparel manufacturing_x',
       'Beverage and tobacco product manufacturing_x',
       'Chemical manufacturing_x',
       'Computer and electronic product manufacturing_x',
       ...
       '  Nondurable goods', '  Other services', '  Recreation services',
       '  Transportation services',
       ' Final consumption expenditures of nonprofit institutions serving households (NPISHs)',
       ' Goods', ' Gross output of nonprofit institutions',
       ' Less: Receipts from sales of goods and services by nonprofit institutions',
       ' Services', 'Personal consumption expenditures'],
      dtype='object', length=710)

In [203]:
#electricity data

In [174]:
elec=pd.read_csv('C:/Users/ttodd/OneDrive/Desktop/capstone/final data/Average_retail_price_of_electricity.csv',skiprows=4)
#units is cents per killowatthour
elec['GeoName'], elec['type'] = elec['description'].str.split(':', 1).str
elec=elec.drop(['units','source key','description'],axis=1)
elec=elec.dropna(subset=['type'])
elec['GeoName']=elec['GeoName'].str.replace('\s+$','')

In [175]:
elec_state_list=["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware",'District Of Columbia',"Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

elec=elec.loc[elec['GeoName'].isin(elec_state_list),:]

      2012   2013   2014   2015   2016   2017        GeoName             type
16   15.54  15.66  17.05  17.77  17.24  17.62    Connecticut      all sectors
17   17.34  17.55  19.75  20.94  20.01  20.31    Connecticut      residential
18   14.65  14.63  15.55  15.97  15.75  16.10    Connecticut       commercial
19   12.67  12.61  12.92  12.95  12.81  13.31    Connecticut       industrial
20    9.69  10.31  13.08  13.18  10.84  10.89    Connecticut   transportation
21      --     --     --     --     --     --    Connecticut            other
23   11.81  11.86  12.65  12.78  12.80  12.94          Maine      all sectors
24   14.66  14.35  15.27  15.61  15.83  15.96          Maine      residential
25   11.53  11.74  12.70  12.47  12.08  12.14          Maine       commercial
26    7.98   8.34   8.95   9.05   8.96   9.09          Maine       industrial
27      --     --     --     --     --     --          Maine   transportation
28      --     --     --     --     --     --          Maine            other
30   13.79  14.51  15.35  16.90  16.48  16.14  Massachusetts      all sectors
31   14.91  15.83  17.39  19.83  19.00  18.92  Massachusetts      residential
32   13.84  14.23  14.68  15.79  15.60  14.88  Massachusetts       commercial
33   12.57  13.18  12.74  13.54  13.38  13.48  Massachusetts       industrial
34    4.91  13.06   8.76   7.76   5.94   6.22  Massachusetts   transportation
35      --     --     --     --     --     --  Massachusetts            other
37   14.19  14.30  15.22  16.02  15.66  16.16  New Hampshire      all sectors
38   16.07  16.33  17.53  18.50  18.38  19.22  New Hampshire      residential
39   13.36  13.52  14.34  14.96  14.43  14.75  New Hampshire       commercial
40   11.83  11.40  11.93  12.74  12.34  12.33  New Hampshire       industrial
41      --     --     --     --     --     --  New Hampshire   transportation
42      --     --     --     --     --     --  New Hampshire            other
44   12.74  13.72  15.41  17.01  16.28  16.44   Rhode Island      all sectors
45   14.40  15.20  17.17  19.29  18.62  18.30   Rhode Island      residential
46   11.87  12.92  14.56  15.78  14.88  15.24   Rhode Island       commercial
47   10.68  11.82  12.86  13.76  13.48  14.58   Rhode Island       industrial
48    8.28  13.03  14.89  18.54  18.71  19.03   Rhode Island   transportation
49      --     --     --     --     --     --   Rhode Island            other
..     ...    ...    ...    ...    ...    ...            ...              ...
394  13.53  14.30  15.15  15.42  15.23  16.14     California      all sectors
395  15.34  16.23  16.25  16.99  17.39  18.24     California      residential
396  13.41  14.20  15.62  15.73  15.07  15.89     California       commercial
397  10.49  11.44  12.34  12.17  11.92  12.87     California       industrial
398   7.17   8.54   8.90   8.99   9.80   8.68     California   transportation
399     --     --     --     --     --     --     California            other
401   8.21   8.44   8.68   8.75   8.83   8.98         Oregon      all sectors
402   9.80   9.90  10.47  10.66  10.66  10.71         Oregon      residential
403   8.31   8.68   8.75   8.80   8.91   8.88         Oregon       commercial
404   5.59   5.80   5.97   5.97   6.05   6.19         Oregon       industrial
405   8.24   8.88   9.21   9.14   9.26   9.35         Oregon   transportation
406     --     --     --     --     --     --         Oregon            other
408   6.94   7.09   7.13   7.40   7.68   7.94     Washington      all sectors
409   8.53   8.70   8.67   9.09   9.48   9.60     Washington      residential
410   7.68   7.78   7.97   8.22   8.43   8.51     Washington       commercial
411   4.13   4.23   4.32   4.35   4.43   4.66     Washington       industrial
412   8.06   8.04   8.48   8.18   8.89   9.06     Washington   transportation
413     --     --     --     --     --     --     Washington            other
422  16.33  16.49  17.46  17.59  17.93  19.52         Alaska      all sectors
423  17.88  18.12  19.14  19.83  20.30  21.57         Alaska      residential
424  14.93  15.58  17.09  17.44  17.56  19.46         Alaska       commercial
425  16.82  15.83  15.66  14.53  15.22  16.59         Alaska       industrial
426     --     --     --     --     --     --         Alaska   transportation
427     --     --     --     --     --     --         Alaska            other
429  34.04  33.26  33.43  26.17  23.87  26.07         Hawaii      all sectors
430  37.34  36.98  37.04  29.60  27.47  29.50         Hawaii      residential
431  34.88  34.05  34.21  26.93  24.64  26.82         Hawaii       commercial
432  30.82  29.87  30.22  23.06  20.69  22.92         Hawaii       industrial
433     --     --     --     --     --     --         Hawaii   transportation
434     --     --     --     --     --     --         Hawaii            other

[306 rows x 8 columns]