In [261]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML
import pandas as pd
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import time
import sqlite3
import os
import numpy as np
import shutil
import math
import seaborn as sns
import matplotlib.pyplot as plt
import operator

In [262]:
def clean_state_df(df):
    non_state_list=[geo_name for geo_name in df['GeoName'] if geo_name not in state_list]
    print(np.unique(non_state_list))
    df=df.loc[~df['GeoName'].isin(non_state_list),:]
    return(df)
def extract_feature(df,feature_list):
    df=df.loc[df['Description'].isin(feature_list),:]
    return df
def show_all_feature(df):
    feature_df=pd.DataFrame(df['Description'].value_counts())
    display(feature_df)

In [263]:
expenditure=pd.read_csv('./expenditure.csv')
expenditure_2016=expenditure.iloc[:,[1,5,8]]
state_list=["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware",'District of Columbia',"Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]
show_all_feature(expenditure_2016)

                                                    Description
   Food and beverages purchased for off-premise...           60
  Financial services and insurance                           60
   Other nondurable goods                                    60
 Less: Receipts from sales of goods and service...           60
   Other durable goods                                       60
  Nondurable goods                                           60
  Household consumption expenditures (for servi...           60
   Furnishings and durable household equipment               60
 Services                                                    60
 Final consumption expenditures of nonprofit in...           60
   Motor vehicles and parts                                  60
  Housing and utilities                                      60
  Durable goods                                              60
   Recreational goods and vehicles                           60
   Clothing and footwear                                     60
 Goods                                                       60
  Other services                                             60
 Gross output of nonprofit institutions                      60
   Gasoline and other energy goods                           60
  Health care                                                60
  Recreation services                                        60
Personal consumption expenditures                            60
  Transportation services                                    60
  Food services and accommodations                           60

In [264]:
person_consumption_expenditures=clean_state_df(expenditure_2016)
person_consumption_expenditures=extract_feature(person_consumption_expenditures,['Personal consumption expenditures'])
person_consumption_expenditures=person_consumption_expenditures.loc[:,['GeoName','2016']]
person_consumption_expenditures.columns=['GeoName','person consumption expenditure']
print(person_consumption_expenditures.head(5))

[ ' and reflect Census Bureau midyear population estimates for years 2010-2016 available as of December 2016. Per capita values are computed from unrounded data.'
 'Far West' 'Great Lakes' 'Mideast' 'New England' 'Plains' 'Rocky Mountain'
 'Southeast' 'Southwest' 'United States' 'nan']
        GeoName  person consumption expenditure
24      Alabama                        152397.0
48       Alaska                         36758.0
72      Arizona                        239680.0
96     Arkansas                         92984.0
120  California                       1641724.0

In [265]:
gdp=pd.read_csv('./gdp.csv')
gdp=gdp.loc[:,['GeoName','Description','2016Q1','2016Q2','2016Q3','2016Q4']]
#print(gdp.loc[gdp['2016Q1']=='(D)',:])

In [266]:
show_all_feature(gdp)

                                                    Description
   Professional, scientific, and technical serv...           60
 Government                                                  60
   Management of companies and enterprises                   60
   Arts, entertainment, and recreation                       60
   Other services, except government                         60
   Utilities                                                 60
   Finance and insurance                                     60
   Administrative and waste management services              60
All industry total                                           60
   Mining                                                    60
     Nondurable goods manufacturing                          60
   Agriculture, forestry, fishing, and hunting               60
   Construction                                              60
   Accommodation and food services                           60
 Private industries                                          60
   Real estate and rental and leasing                        60
   Health care and social assistance                         60
   Manufacturing                                             60
   Educational services                                      60
   Wholesale trade                                           60
   Transportation and warehousing                            60
   Information                                               60
   Retail trade                                              60
     Durable goods manufacturing                             60

In [267]:
gdp=gdp.loc[~gdp['2016Q1'].isin(['(L)','(D)']),:]# D and L means missing values I print D previously,
gdp['2016']=gdp['2016Q1'].astype(float)+gdp['2016Q2'].astype(float)+gdp['2016Q3'].astype(float)+gdp['2016Q4'].astype(float)
gdp.head(5)

,GeoName,Description,2016Q1,2016Q2,2016Q3,2016Q4,2016
0,United States,All industry total,18170091,18337791,18561915,18755370,73825167.0
1,United States,Private industries,15913806,16069119,16273097,16454134,64710156.0
2,United States,"Agriculture, forestry, fishing, and hunting",164987,162132,160066,152489,639674.0
3,United States,Mining,235103,258292,271615,293309,1058319.0
4,United States,Utilities,282165,283865,293901,292534,1152465.0

In [268]:
gdp_all_industry=extract_feature(gdp,['All industry total'])
gdp_all_industry=clean_state_df(gdp_all_industry)
gdp_all_industry=gdp_all_industry.loc[:,['GeoName','2016']]
gdp_all_industry.columns=['GeoName','gdp']
gdp_all_industry.head(5)

['Far West' 'Great Lakes' 'Mideast' 'New England' 'Plains' 'Rocky Mountain'
 'Southeast' 'Southwest' 'United States']

        GeoName         gdp
24      Alabama    819445.0
48       Alaska    202852.0
72      Arizona   1211807.0
96     Arkansas    482755.0
120  California  10410688.0

In [269]:
income_wage=pd.read_csv('./income_wage.csv')
income_wage=income_wage.loc[:,['GeoName','Description','2016']]
income_wage['GeoName']=income_wage['GeoName'].replace('Alaska*','Alaska')
income_wage['GeoName']=income_wage['GeoName'].replace('Hawaii*','Hawaii')
show_all_feature(income_wage)

                                                    Description
    Employer contributions for government socia...          120
  Proprietors employment                                     60
    Employee and self-employed contributions fo...           60
    Nonfarm proprietors' income                              60
  Wage and salary employment                                 60
    Farm proprietors' income                                 60
  Nonfarm personal income 1/                                 60
Total employment                                             60
  Earnings by place of work                                  60
Per capita personal income (dollars) 4/                      60
  Proprietors' income 9/                                     60
Population (persons) 3/                                      60
  Supplements to wages and salaries                          60
  Wages and salaries                                         60
  Plus: Dividends, interest, and rent 7/                     60
    Employer contributions for employee pension...           60
  Plus: Adjustment for residence 6/                          60
  Equals: Net earnings by place of residence                 60
Personal income (thousands of dollars)                       60
  Less: Contributions for government social ins...           60
  Plus: Personal current transfer receipts                   60
  Farm income 2/                                             60

In [270]:
income_wage=extract_feature(income_wage,['Personal income (thousands of dollars)'])
income_wage=clean_state_df(income_wage)
income_wage=income_wage.loc[:,['GeoName','2016']]
income_wage.columns=['GeoName','personal income']
income_wage.head(5)

['Far West' 'Great Lakes' 'Mideast' 'New England' 'Plains' 'Rocky Mountain'
 'Southeast' 'Southwest' 'United States']

        GeoName  personal income
23      Alabama     1.891620e+08
46       Alaska     4.128328e+07
69      Arizona     2.801200e+08
92     Arkansas     1.186980e+08
115  California     2.212691e+09

In [271]:
RPP=pd.read_csv('./RPP.csv')
RPP=RPP.loc[:,['GeoName','Description','2016']]
show_all_feature(RPP)
RPP=clean_state_df(RPP)
RPP=extract_feature(RPP,['RPPs: All items'])

                         Description
  RPPs: Goods                     52
  RPPs: Services: Other           52
  RPPs: Services: Rents           52
RPPs: All items                   52

['United States' 'nan']

In [272]:
RPP=RPP.loc[:,['GeoName','2016']]
RPP.columns=['GeoName','RPP']

In [273]:
irp=pd.read_csv('./implicit regional price inflator.csv')
irp=irp.loc[:,['GeoName','Description','2016']]
show_all_feature(irp)
irp=clean_state_df(irp)
irp=irp.loc[:,['GeoName','2016']]
irp.columns=['GeoName','irp']

                                  Description
Implicit regional price deflator           51

[ nan  nan  nan  nan]

In [274]:
from functools import reduce
dfs = [irp, RPP,gdp_all_industry,income_wage,person_consumption_expenditures]
df_final = reduce(lambda left,right: pd.merge(left,right,on='GeoName'), dfs)

In [275]:
df_final.to_csv('merge_state_data2.csv')

In [277]:
import re
import requests

In [280]:
if os.path.exists('./dependent_variable_state_data/'):
    pass
else:
    os.mkdir('./dependent_variable_state_data/')
if os.path.exists('./dependent_variable_state_data_cleaned/'):
    pass
else:
    os.mkdir('./dependent_variable_state_data_cleaned/')

In [281]:
mta_web='https://www.bls.gov/bdm/bdmstate.htm'
response=requests.get(mta_web)
web_content=response.content
soup = BeautifulSoup(web_content, 'html.parser')
final_link=[]
for link in soup.find_all('a',{'href':re.compile('/web/cewbd/+(.*?)table1.txt')}):
    temp_link='https://www.bls.gov'+link.get('href')
    final_link.append(temp_link)
import os

In [289]:
for link in final_link:#uncomment the bottom lines of code if you wanna scrape the data again
    file_name=re.sub('https://www.bls.gov/web/cewbd/','',link)
    #response=requests.get(link) 
    with open('./dependent_variable_state_data/'+file_name, 'wb') as f:
        f.write(response.content)

In [299]:
target_dir='./dependent_variable_state_data/'
file_list=os.listdir(target_dir)

In [300]:
for j in file_list:
    with open(target_dir+j) as fp:
        temp_year=1991
        lines = fp.readlines()
        count=0
        for i in lines:
            if count==2:
                file_name=i.split()
                file_name=(' ').join(file_name)
                f = open('./dependent_variable_state_data_cleaned/'+file_name+".txt", "a")
            count=count+1
            line_len=len(i.split())
            if line_len>0 and line_len>=8 and line_len<=10:
                temp_line=i.split()
                temp_line=[re.sub(',','',x) for x in temp_line]
                if re.search('[0-9]{4}',temp_line[0]):
                    if int(temp_line[0])>temp_year:
                        temp_year=int(temp_line[0])
                if line_len==8:
                    temp_line.insert(0,str(temp_year))
                    new_line=('/').join(temp_line)
                    f.write("%s\n" % new_line)
                if line_len==9:
                    new_line=('/').join(temp_line)
                    f.write("%s\n" % new_line)
        f.close()

In [292]:
output_dir='./dependent_variable_state_data_cleaned/'
output_file_list=os.listdir(output_dir)

In [369]:
final_result=pd.DataFrame(columns=['state','net_change','total_expand','expand_establish',
                     'open_establish','total_contract','contract_establish','end_establish'])

In [370]:
for i in output_file_list:
    temp_state=re.sub('.txt','',i)
    temp_df=pd.read_table(output_dir+i,sep='/',header=None)
    temp_df.columns=['year','month','net_change','total_expand','expand_establish',
                     'open_establish','total_contract','contract_establish','end_establish']
    temp_df_2016=temp_df.loc[temp_df['year']==2016,:]
    temp_result=pd.DataFrame(temp_df_2016.iloc[:,2:].apply(sum,axis=0)).T
    temp_result['state']=temp_state
    final_result=final_result.append(temp_result)

In [371]:
data1=pd.read_csv('./merge_state_data1.csv')
data2=pd.read_csv('./merge_state_data2.csv')
data2=data2.iloc[:,1:]
data_merge=pd.merge(data1,data2,left_on=data1.state,right_on=data2.GeoName)
final_state=pd.merge(data_merge,final_result,left_on=data_merge.state,right_on=final_result.state)
state=final_state['state_x']

In [372]:
final_state=final_state.drop(['state_x','state_y','GeoName'],axis=1)
final_state.insert(0,'state',state)

In [373]:
finalstate.to_csv('final_state_data.csv')

In [374]:
final_state

,state,total_engi,temporary_visa_engi,totals_sicence,temporary_visa_science,total_area_sqm,land_area,water_area,total_employed,member of unions,...,gdp,personal income,person consumption expenditure,contract_establish,end_establish,expand_establish,net_change,open_establish,total_contract,total_expand
0,Alaska,167,43,33,4,"665,384","570,641","94,743",297,55,...,202852.0,4.128328e+07,36758.0,176070,33852,158696,-15694,35532,209922,194228
1,Arizona,"3,506","2,030",557,263,"113,990","113,594",396,"2,727",122,...,1211807.0,2.801200e+08,239680.0,835596,195882,933458,123326,221346,1031478,1154804
2,Arkansas,600,318,75,27,"53,179","52,035","1,143","1,186",47,...,482755.0,1.186980e+08,92984.0,371642,70548,374418,14322,82094,442190,456512
3,California,"23,957","13,083","6,351","3,338","163,695","155,779","7,916","16,001","2,551",...,10410688.0,2.212691e+09,1641724.0,5739596,1498578,6143144,554508,1649538,7238174,7792682
4,Colorado,"3,716","1,473","1,108",267,"104,094","103,642",452,"2,438",238,...,1294767.0,2.881033e+08,236296.0,890606,199348,936472,85228,238710,1089954,1175182
5,Connecticut,"2,414","1,645",867,525,"5,543","4,842",701,"1,568",275,...,1053515.0,2.478866e+08,173447.0,528242,70836,521870,900,78108,599078,599978
6,Delaware,704,373,93,49,"2,489","1,949",540,419,48,...,281548.0,4.557441e+07,40813.0,156972,38428,151978,-794,42628,195400,194606
7,District of Columbia,"1,121",508,197,103,68,61,7,343,32,...,507261.0,5.184280e+07,38720.0,184624,47648,180300,2650,54622,232272,234922
8,Florida,"6,511","3,844","1,035",434,"65,758","53,625","12,133","8,113",456,...,3707267.0,9.472075e+08,796537.0,2594108,834000,2950418,444678,922368,3428108,3872786
9,Georgia,"4,066","1,925",837,434,"59,425","57,513","1,912","4,249",165,...,2101442.0,4.346772e+08,357332.0,1348290,374654,1509236,189052,402760,1722944,1911996
10,Hawaii,154,51,183,116,"10,932","6,423","4,509",597,119,...,335666.0,7.194608e+07,64460.0,178600,38486,184486,10844,43444,217086,227930
11,Idaho,563,166,76,43,"83,569","82,643",926,689,42,...,269101.0,6.643341e+07,56642.0,254636,59088,284692,37414,66446,313724,351138
12,Illinois,"7,420","5,222","1,514",894,"57,914","55,519","2,395","5,587",812,...,3166429.0,6.633380e+08,534750.0,1876726,458428,1899938,46242,481458,2335154,2381396
13,Indiana,"4,648","2,768",602,372,"36,420","35,826",593,"2,927",304,...,1367635.0,2.858637e+08,236353.0,934308,153762,982628,57130,162572,1088070,1145200
14,Iowa,"1,580",924,350,210,"56,273","55,857",416,"1,454",129,...,715061.0,1.441957e+08,115999.0,517234,89966,509232,5472,103440,607200,612672
15,Kansas,"1,394",820,195,126,"82,278","81,759",520,"1,274",109,...,613030.0,1.373054e+08,104615.0,435668,95098,431624,3240,102382,530766,534006
16,Kentucky,886,342,171,90,"40,408","39,486",921,"1,710",190,...,788174.0,1.727138e+08,147697.0,631372,120424,645900,30416,136312,751796,782212
17,Louisiana,"1,048",696,280,141,"52,378","43,204","9,174","1,799",76,...,940435.0,1.980251e+08,160025.0,712762,138566,648946,-59908,142474,851328,791420
18,Maine,140,61,17,4,"35,380","30,843","4,537",567,65,...,237099.0,5.865543e+07,57281.0,224320,60248,227860,8884,65592,284568,293452
19,Maryland,"3,395","1,611","1,054",620,"12,406","9,707","2,699","2,815",310,...,1513119.0,3.492666e+08,269223.0,831946,203112,885270,60266,210054,1035058,1095324
20,Massachusetts,"8,321","4,423","4,295","2,324","10,554","7,800","2,754","3,158",381,...,2031650.0,4.375514e+08,354085.0,1051664,242126,1123056,91344,262078,1293790,1385134
21,Michigan,"7,950","5,147","1,255",724,"96,714","56,539","40,175","4,196",606,...,1948956.0,4.393615e+08,390497.0,1314430,241448,1404588,94256,245546,1555878,1650134
22,Minnesota,"1,804",876,644,298,"86,936","79,627","7,309","2,563",365,...,1340588.0,2.872498e+08,242489.0,888248,180534,939546,62588,191824,1068782,1131370
23,Mississippi,816,274,92,51,"48,432","46,923","1,509","1,108",73,...,430720.0,1.060528e+08,90261.0,361374,64544,351038,3842,78722,425918,429760
24,Missouri,"3,180","2,039",536,264,"69,707","68,742",965,"2,711",262,...,1203564.0,2.615478e+08,228648.0,861072,162584,882572,38870,179954,1023656,1062526
25,Montana,251,57,72,23,"147,040","145,546","1,494",418,50,...,183978.0,4.477287e+07,42956.0,182206,49214,183886,786,48320,231420,232206
26,Nebraska,514,313,267,188,"77,348","76,824",524,876,64,...,461381.0,9.541134e+07,74320.0,308736,70770,312396,2070,69180,379506,381576
27,Nevada,433,231,101,60,"110,572","109,781",791,"1,211",146,...,589901.0,1.280896e+08,106364.0,423936,95026,478132,68102,108932,518962,587064
28,New Hampshire,433,214,186,75,"9,349","8,953",397,669,63,...,311422.0,7.468703e+07,65151.0,224736,44436,235100,14526,48598,269172,283698
29,New Jersey,"4,430","2,500",779,445,"8,723","7,354","1,368","4,007",644,...,2324490.0,5.498358e+08,438030.0,1329368,259854,1392732,101256,297746,1589222,1690478
30,New Mexico,"1,207",426,89,36,"121,590","121,298",292,784,49,...,373185.0,8.006496e+07,74290.0,263978,59376,261646,5880,67588,323354,329234
31,New York,"12,666","8,214","3,821","2,383","54,555","47,126","7,429","8,227","1,942",...,5951992.0,1.176080e+09,926168.0,2940110,695284,3139672,206558,702280,3635394,3841952
32,North Carolina,"4,235","2,280","1,194",500,"53,819","48,618","5,201","4,225",129,...,2071614.0,4.286388e+08,342753.0,1337380,300538,1440094,130662,328486,1637918,1768580
33,North Dakota,426,246,78,31,"70,698","69,001","1,698",363,20,...,208357.0,4.140498e+07,36552.0,189314,37532,156686,-31030,39130,226846,195816
34,Ohio,"7,356","4,276",686,431,"44,826","40,861","3,965","4,970",617,...,2502861.0,5.179182e+08,434951.0,1724498,300018,1777538,56194,303172,2024516,2080710
35,Oklahoma,"1,316",829,181,95,"69,899","68,595","1,304","1,482",80,...,731750.0,1.675028e+08,129390.0,520228,116980,485284,-25970,125954,637208,611238
36,Oregon,"1,603",855,402,155,"98,379","95,988","2,391","1,691",228,...,907281.0,1.858396e+08,162684.0,638704,137222,700678,71430,146678,775926,847356
37,Pennsylvania,"8,052","4,798","1,583",887,"46,054","44,743","1,312","5,686",685,...,2899743.0,6.486945e+08,522697.0,1802540,315516,1850356,86980,354680,2118056,2205036
38,Rhode Island,456,192,276,115,"1,545","1,034",511,481,74,...,229730.0,5.327244e+07,44850.0,160054,37090,155794,-3952,37398,197144,193192
39,South Carolina,"1,672","1,005",185,77,"32,020","30,061","1,960","1,981",32,...,838865.0,1.960493e+08,165036.0,633882,118940,684260,77074,145636,752822,829896
40,South Dakota,394,245,61,43,"77,116","75,811","1,305",379,20,...,192555.0,4.139824e+07,34164.0,146202,24606,142272,2692,31228,170808,173500
41,Tennessee,"1,950",784,516,255,"42,144","41,235",909,"2,746",158,...,1315080.0,2.881700e+08,227596.0,913946,121374,976698,97358,155980,1035320,1132678
42,Texas,"16,047","11,096","2,510","1,628","268,596","261,232","7,365","11,457",462,...,6467203.0,1.289310e+09,1018027.0,3691144,703508,3777992,228172,844832,4394652,4622824
43,Utah,"1,535",520,368,162,"84,897","82,170","2,727","1,318",62,...,625408.0,1.248712e+08,107142.0,483818,110580,537784,63640,120254,594398,658038
44,Vermont,94,41,32,12,"9,616","9,217",400,290,33,...,124367.0,3.121988e+07,29761.0,118486,26330,116738,-436,27642,144816,144380
45,Virginia,"4,582","2,001",498,256,"42,775","39,490","3,285","3,748",160,...,1977396.0,4.454617e+08,350198.0,1180988,305426,1236166,48026,298274,1486414,1534440
46,Washington,"2,730","1,089",744,311,"71,298","66,456","4,842","3,090",539,...,1878958.0,3.977723e+08,312817.0,1138684,208568,1287544,152194,211902,1347252,1499446
47,West Virginia,607,341,48,28,"24,230","24,038",192,669,79,...,293494.0,6.706199e+07,63022.0,240550,48400,217734,-21132,50084,288950,267818
48,Wisconsin,"2,212",961,548,245,"65,496","54,158","11,339","2,696",219,...,1238146.0,2.702260e+08,224143.0,914606,151168,917578,21858,170054,1065774,1087632
49,Wyoming,230,100,37,14,"97,813","97,093",720,248,16,...,151431.0,3.227046e+07,23611.0,130434,24298,109814,-18580,26338,154732,136152