In [208]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML
import pandas as pd
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import time
import sqlite3
import os
import numpy as np
import shutil
import math
import seaborn as sns
import matplotlib.pyplot as plt
import operator

In [212]:
def clean_state_df(df):
    non_state_list=[geo_name for geo_name in df['GeoName'] if geo_name not in state_list]
    print(np.unique(non_state_list))
    df=df.loc[~df['GeoName'].isin(non_state_list),:]
    return(df)
def extract_feature(df,feature_list):
    df=df.loc[df['Description'].isin(feature_list),:]
    return df
def show_all_feature(df):
    feature_df=pd.DataFrame(df['Description'].value_counts())
    display(feature_df)

In [213]:
expenditure=pd.read_csv('./expenditure.csv')
expenditure_2016=expenditure.iloc[:,[1,5,8]]
state_list=["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware",'District of Columbia',"Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]
show_all_feature(expenditure_2016)

                                                    Description
   Food and beverages purchased for off-premise...           60
  Financial services and insurance                           60
   Other nondurable goods                                    60
 Less: Receipts from sales of goods and service...           60
   Other durable goods                                       60
  Nondurable goods                                           60
  Household consumption expenditures (for servi...           60
   Furnishings and durable household equipment               60
 Services                                                    60
 Final consumption expenditures of nonprofit in...           60
   Motor vehicles and parts                                  60
  Housing and utilities                                      60
  Durable goods                                              60
   Recreational goods and vehicles                           60
   Clothing and footwear                                     60
 Goods                                                       60
  Other services                                             60
 Gross output of nonprofit institutions                      60
   Gasoline and other energy goods                           60
  Health care                                                60
  Recreation services                                        60
Personal consumption expenditures                            60
  Transportation services                                    60
  Food services and accommodations                           60

In [214]:
person_consumption_expenditures=clean_state_df(expenditure_2016)
person_consumption_expenditures=extract_feature(person_consumption_expenditures,['Personal consumption expenditures'])
person_consumption_expenditures=person_consumption_expenditures.loc[:,['GeoName','2016']]
person_consumption_expenditures.columns=['GeoName','person consumption expenditure']
print(person_consumption_expenditures.head(5))

[ ' and reflect Census Bureau midyear population estimates for years 2010-2016 available as of December 2016. Per capita values are computed from unrounded data.'
 'Far West' 'Great Lakes' 'Mideast' 'New England' 'Plains' 'Rocky Mountain'
 'Southeast' 'Southwest' 'United States' 'nan']
        GeoName  person consumption expenditure
24      Alabama                        152397.0
48       Alaska                         36758.0
72      Arizona                        239680.0
96     Arkansas                         92984.0
120  California                       1641724.0

In [215]:
gdp=pd.read_csv('./gdp.csv')
gdp=gdp.loc[:,['GeoName','Description','2016Q1','2016Q2','2016Q3','2016Q4']]
#print(gdp.loc[gdp['2016Q1']=='(D)',:])

In [216]:
show_all_feature(gdp)

                                                    Description
   Professional, scientific, and technical serv...           60
 Government                                                  60
   Management of companies and enterprises                   60
   Arts, entertainment, and recreation                       60
   Other services, except government                         60
   Utilities                                                 60
   Finance and insurance                                     60
   Administrative and waste management services              60
All industry total                                           60
   Mining                                                    60
     Nondurable goods manufacturing                          60
   Agriculture, forestry, fishing, and hunting               60
   Construction                                              60
   Accommodation and food services                           60
 Private industries                                          60
   Real estate and rental and leasing                        60
   Health care and social assistance                         60
   Manufacturing                                             60
   Educational services                                      60
   Wholesale trade                                           60
   Transportation and warehousing                            60
   Information                                               60
   Retail trade                                              60
     Durable goods manufacturing                             60

In [217]:
gdp=gdp.loc[~gdp['2016Q1'].isin(['(L)','(D)']),:]# D and L means missing values I print D previously,
gdp['2016']=gdp['2016Q1'].astype(float)+gdp['2016Q2'].astype(float)+gdp['2016Q3'].astype(float)+gdp['2016Q4'].astype(float)
gdp.head(5)

,GeoName,Description,2016Q1,2016Q2,2016Q3,2016Q4,2016
0,United States,All industry total,18170091,18337791,18561915,18755370,73825167.0
1,United States,Private industries,15913806,16069119,16273097,16454134,64710156.0
2,United States,"Agriculture, forestry, fishing, and hunting",164987,162132,160066,152489,639674.0
3,United States,Mining,235103,258292,271615,293309,1058319.0
4,United States,Utilities,282165,283865,293901,292534,1152465.0

In [218]:
gdp_all_industry=extract_feature(gdp,['All industry total'])
gdp_all_industry=clean_state_df(gdp_all_industry)
gdp_all_industry=gdp_all_industry.loc[:,['GeoName','2016']]
gdp_all_industry.columns=['GeoName','gdp']
gdp_all_industry.head(5)

['Far West' 'Great Lakes' 'Mideast' 'New England' 'Plains' 'Rocky Mountain'
 'Southeast' 'Southwest' 'United States']

        GeoName         gdp
24      Alabama    819445.0
48       Alaska    202852.0
72      Arizona   1211807.0
96     Arkansas    482755.0
120  California  10410688.0

In [219]:
income_wage=pd.read_csv('./income_wage.csv')
income_wage=income_wage.loc[:,['GeoName','Description','2016']]
income_wage['GeoName']=income_wage['GeoName'].replace('Alaska*','Alaska')
income_wage['GeoName']=income_wage['GeoName'].replace('Hawaii*','Hawaii')
show_all_feature(income_wage)

                                                    Description
    Employer contributions for government socia...          120
  Proprietors employment                                     60
    Employee and self-employed contributions fo...           60
    Nonfarm proprietors' income                              60
  Wage and salary employment                                 60
    Farm proprietors' income                                 60
  Nonfarm personal income 1/                                 60
Total employment                                             60
  Earnings by place of work                                  60
Per capita personal income (dollars) 4/                      60
  Proprietors' income 9/                                     60
Population (persons) 3/                                      60
  Supplements to wages and salaries                          60
  Wages and salaries                                         60
  Plus: Dividends, interest, and rent 7/                     60
    Employer contributions for employee pension...           60
  Plus: Adjustment for residence 6/                          60
  Equals: Net earnings by place of residence                 60
Personal income (thousands of dollars)                       60
  Less: Contributions for government social ins...           60
  Plus: Personal current transfer receipts                   60
  Farm income 2/                                             60

In [220]:
income_wage=extract_feature(income_wage,['Personal income (thousands of dollars)'])
income_wage=clean_state_df(income_wage)
income_wage=income_wage.loc[:,['GeoName','2016']]
income_wage.columns=['GeoName','personal income']
income_wage.head(5)

['Far West' 'Great Lakes' 'Mideast' 'New England' 'Plains' 'Rocky Mountain'
 'Southeast' 'Southwest' 'United States']

        GeoName  personal income
23      Alabama     1.891620e+08
46       Alaska     4.128328e+07
69      Arizona     2.801200e+08
92     Arkansas     1.186980e+08
115  California     2.212691e+09

In [221]:
RPP=pd.read_csv('./RPP.csv')
RPP=RPP.loc[:,['GeoName','Description','2016']]
show_all_feature(RPP)
RPP=clean_state_df(RPP)
RPP=extract_feature(RPP,['RPPs: All items'])

                         Description
  RPPs: Goods                     52
  RPPs: Services: Other           52
  RPPs: Services: Rents           52
RPPs: All items                   52

['United States' 'nan']

In [222]:
RPP=RPP.loc[:,['GeoName','2016']]
RPP.columns=['GeoName','RPP']

In [223]:
irp=pd.read_csv('./implicit regional price inflator.csv')
irp=irp.loc[:,['GeoName','Description','2016']]
show_all_feature(irp)
irp=clean_state_df(irp)
irp=irp.loc[:,['GeoName','2016']]
irp.columns=['GeoName','irp']

                                  Description
Implicit regional price deflator           51

[ nan  nan  nan  nan]

In [205]:
from functools import reduce
dfs = [irp, RPP,gdp_all_industry,income_wage,person_consumption_expenditures]
df_final = reduce(lambda left,right: pd.merge(left,right,on='GeoName'), dfs)

In [207]:
df_final.to_csv('merge_state_data2.csv')

In [3]:
import re
import requests
import Bs

In [6]:
mta_web='https://www.bls.gov/bdm/bdmstate.htm'
response=requests.get(mta_web)
web_content=response.content
soup = BeautifulSoup(web_content, 'html.parser')
final_link=[]
for link in soup.find_all('a',{'href':re.compile('/web/cewbd/+(.*?)table1.txt')}):
    temp_link='https://www.bls.gov'+link.get('href')
    final_link.append(temp_link)
import os
if os.path.exists('./dependent_variable_state_data/birth_death'):
    pass
else:
    os.mkdir('./dependent_variable_state_data/birth_death')

In [23]:
for link in final_link:#uncomment the bottom lines of code if you wanna scrape the data again
    file_name=re.sub('https://www.bls.gov/web/cewbd/','',link)
    #response=requests.get(link) 
    with open('./dependent_variable_state_data/birth_death/'+file_name, 'wb') as f:
        print(file_name)
        f.write(response.content)

In [149]:
target_dir='./dependent_variable_state_data/birth_death/'
file_list=os.listdir(target_dir)
file_list

In [172]:
for j in file_list:
    with open(target_dir+j) as fp:
        temp_year=1991
        lines = fp.readlines()
        count=0
        for i in lines:
            if count==2:
                file_name=i.split()
                file_name=(' ').join(file_name)
                f = open('./dependent_variable_state_data_cleaned/'+file_name+".txt", "a")
            count=count+1
            line_len=len(i.split())
            if line_len>0 and line_len>=8 and line_len<=10:
                temp_line=i.split()
                temp_line=[re.sub(',','',x) for x in temp_line]
                if re.search('[0-9]{4}',temp_line[0]):
                    if int(temp_line[0])>temp_year:
                        temp_year=int(temp_line[0])
                if line_len==8:
                    temp_line.insert(0,str(temp_year))
                    new_line=('/').join(temp_line)
                    f.write("%s\n" % new_line)
                if line_len==9:
                    new_line=('/').join(temp_line)
                    f.write("%s\n" % new_line)
        f.close()

In [177]:
output_dir='./dependent_variable_state_data_cleaned/'
output_file_list=os.listdir(output_dir)

In [203]:
final_result=pd.DataFrame(columns=['state','net_change','total_expanding','expanding_establish',
                     'opening_establish','total_contract','gross_contracting_establishment','ending_establishments'])

In [204]:
for i in output_file_list:
    temp_state=re.sub('.txt','',i)
    temp_df=pd.read_table(output_dir+i,sep='/',header=None)
    temp_df.columns=['year','month','net_change','total_expand','expand_establish',
                     'open_establish','total_contract','contract_establish','end_establish']
    temp_df_2016=temp_df.loc[temp_df['year']==2016,:]
    temp_result=pd.DataFrame(temp_df_2016.iloc[:,2:].apply(sum,axis=0)).T
    temp_result['state']=temp_state
    final_result=final_result.append(temp_result)

In [258]:
#data1=pd.read_csv('./merge_state_data1.csv')
data2=pd.read_csv('./merge_state_data2.csv')
#data_merge=pd.merge(data1,data2,left_on=data1.state,right_on=data2.GeoName)
finalstate = pd.merge(data2, final_result, left_on=data2.GeoName,right_on=final_result.state)
state=finalstate['state']
finalstate=finalstate.drop(['GeoName','state'],axis=1)
finalstate=finalstate.iloc[:,1:]
finalstate.insert(0,'state',state)

In [253]:
finalstate.to_csv('final_state_data.csv')

,irp,RPP,gdp,personal income,person consumption expenditure,ending_establishments,expanding_establish,gross_contracting_establishment,net_change,opening_establish,total_contract,total_expanding
0,95.6,86.6,819445.0,1.891620e+08,152397.0,56172,304532,301686,12265,65591,357858,370123
1,116.4,105.4,202852.0,4.128328e+07,36758.0,16926,79348,88035,-7847,17766,104961,97114
2,106.0,95.9,1211807.0,2.801200e+08,239680.0,97941,466729,417798,61663,110673,515739,577402
3,96.0,86.9,482755.0,1.186980e+08,92984.0,35274,187209,185821,7161,41047,221095,228256
4,126.4,114.4,10410688.0,2.212691e+09,1641724.0,749289,3071572,2869798,277254,824769,3619087,3896341

,state,irp,RPP,gdp,personal income,person consumption expenditure,ending_establishments,expanding_establish,gross_contracting_establishment,net_change,opening_establish,total_contract,total_expanding
0,Alabama,95.6,86.6,819445.0,1.891620e+08,152397.0,56172,304532,301686,12265,65591,357858,370123
1,Alaska,116.4,105.4,202852.0,4.128328e+07,36758.0,16926,79348,88035,-7847,17766,104961,97114
2,Arizona,106.0,95.9,1211807.0,2.801200e+08,239680.0,97941,466729,417798,61663,110673,515739,577402
3,Arkansas,96.0,86.9,482755.0,1.186980e+08,92984.0,35274,187209,185821,7161,41047,221095,228256
4,California,126.4,114.4,10410688.0,2.212691e+09,1641724.0,749289,3071572,2869798,277254,824769,3619087,3896341
5,Colorado,113.7,103.0,1294767.0,2.881033e+08,236296.0,99674,468236,445303,42614,119355,544977,587591
6,Connecticut,120.1,108.7,1053515.0,2.478866e+08,173447.0,35418,260935,264121,450,39054,299539,299989
7,Delaware,110.7,100.2,281548.0,4.557441e+07,40813.0,19214,75989,78486,-397,21314,97700,97303
8,District of Columbia,128.0,115.9,507261.0,5.184280e+07,38720.0,23824,90150,92312,1325,27311,116136,117461
9,Florida,110.2,99.7,3707267.0,9.472075e+08,796537.0,417000,1475209,1297054,222339,461184,1714054,1936393
10,Georgia,101.8,92.1,2101442.0,4.346772e+08,357332.0,187327,754618,674145,94526,201380,861472,955998
11,Hawaii,130.8,118.4,335666.0,7.194608e+07,64460.0,19243,92243,89300,5422,21722,108543,113965
12,Idaho,102.8,93.0,269101.0,6.643341e+07,56642.0,29544,142346,127318,18707,33223,156862,175569
13,Illinois,109.3,98.9,3166429.0,6.633380e+08,534750.0,229214,949969,938363,23121,240729,1167577,1190698
14,Indiana,99.8,90.3,1367635.0,2.858637e+08,236353.0,76881,491314,467154,28565,81286,544035,572600
15,Iowa,99.6,90.2,715061.0,1.441957e+08,115999.0,44983,254616,258617,2736,51720,303600,306336
16,Kansas,100.0,90.5,613030.0,1.373054e+08,104615.0,47549,215812,217834,1620,51191,265383,267003
17,Kentucky,96.9,87.8,788174.0,1.727138e+08,147697.0,60212,322950,315686,15208,68156,375898,391106
18,Louisiana,99.8,90.4,940435.0,1.980251e+08,160025.0,69283,324473,356381,-29954,71237,425664,395710
19,Maine,108.7,98.4,237099.0,5.865543e+07,57281.0,30124,113930,112160,4442,32796,142284,146726
20,Maryland,120.9,109.5,1513119.0,3.492666e+08,269223.0,101556,442635,415973,30133,105027,517529,547662
21,Massachusetts,119.1,107.8,2031650.0,4.375514e+08,354085.0,121063,561528,525832,45672,131039,646895,692567
22,Michigan,103.0,93.3,1948956.0,4.393615e+08,390497.0,120724,702294,657215,47128,122773,777939,825067
23,Minnesota,107.7,97.5,1340588.0,2.872498e+08,242489.0,90267,469773,444124,31294,95912,534391,565685
24,Mississippi,95.4,86.4,430720.0,1.060528e+08,90261.0,32272,175519,180687,1921,39361,212959,214880
25,Missouri,98.8,89.5,1203564.0,2.615478e+08,228648.0,81292,441286,430536,19435,89977,511828,531263
26,Montana,104.0,94.1,183978.0,4.477287e+07,42956.0,24607,91943,91103,393,24160,115710,116103
27,Nebraska,99.9,90.5,461381.0,9.541134e+07,74320.0,35385,156198,154368,1035,34590,189753,190788
28,Nevada,107.6,97.4,589901.0,1.280896e+08,106364.0,47513,239066,211968,34051,54466,259481,293532
29,New Hampshire,116.9,105.9,311422.0,7.468703e+07,65151.0,22218,117550,112368,7263,24299,134586,141849
30,New Jersey,125.0,113.2,2324490.0,5.498358e+08,438030.0,129927,696366,664684,50628,148873,794611,845239
31,New Mexico,103.4,93.6,373185.0,8.006496e+07,74290.0,29688,130823,131989,2940,33794,161677,164617
32,New York,127.7,115.6,5951992.0,1.176080e+09,926168.0,347642,1569836,1470055,103279,351140,1817697,1920976
33,North Carolina,100.4,90.9,2071614.0,4.286388e+08,342753.0,150269,720047,668690,65331,164243,818959,884290
34,North Dakota,101.1,91.5,208357.0,4.140498e+07,36552.0,18766,78343,94657,-15515,19565,113423,97908
35,Ohio,98.6,89.3,2502861.0,5.179182e+08,434951.0,150009,888769,862249,28097,151586,1012258,1040355
36,Oklahoma,98.3,89.0,731750.0,1.675028e+08,129390.0,58490,242642,260114,-12985,62977,318604,305619
37,Oregon,110.2,99.8,907281.0,1.858396e+08,162684.0,68611,350339,319352,35715,73339,387963,423678
38,Pennsylvania,108.7,98.4,2899743.0,6.486945e+08,522697.0,157758,925178,901270,43490,177340,1059028,1102518
39,Rhode Island,110.0,99.6,229730.0,5.327244e+07,44850.0,18545,77897,80027,-1976,18699,98572,96596
40,South Carolina,99.8,90.3,838865.0,1.960493e+08,165036.0,59470,342130,316941,38537,72818,376411,414948
41,South Dakota,97.6,88.3,192555.0,4.139824e+07,34164.0,12303,71136,73101,1346,15614,85404,86750
42,Tennessee,99.6,90.2,1315080.0,2.881700e+08,227596.0,60687,488349,456973,48679,77990,517660,566339
43,Texas,107.1,96.9,6467203.0,1.289310e+09,1018027.0,351754,1888996,1845572,114086,422416,2197326,2311412
44,Utah,107.5,97.3,625408.0,1.248712e+08,107142.0,55290,268892,241909,31820,60127,297199,329019
45,Vermont,112.3,101.6,124367.0,3.121988e+07,29761.0,13165,58369,59243,-218,13821,72408,72190
46,Virginia,113.0,102.3,1977396.0,4.454617e+08,350198.0,152713,618083,590494,24013,149137,743207,767220
47,Washington,116.6,105.5,1878958.0,3.977723e+08,312817.0,104284,643772,569342,76097,105951,673626,749723
48,West Virginia,96.7,87.6,293494.0,6.706199e+07,63022.0,24200,108867,120275,-10566,25042,144475,133909
49,Wisconsin,102.5,92.8,1238146.0,2.702260e+08,224143.0,75584,458789,457303,10929,85027,532887,543816
50,Wyoming,106.9,96.7,151431.0,3.227046e+07,23611.0,12149,54907,65217,-9290,13169,77366,68076