In [179]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

In [180]:
def clean_state_df(df):
    non_state_list=[geo_name for geo_name in df['GeoName'] if geo_name not in state_list]
    print(np.unique(non_state_list))
    df=df.loc[~df['GeoName'].isin(Non_state_list),:]
    return(df)
def extract_feature(df,feature_list):
    df=df.loc[df['Description'].isin(feature_list),:]
    return df
def show_all_feature(df):
    feature_df=pd.DataFrame(df['Description'].value_counts())
    display(feature_df.head(5))

In [185]:
expenditure=pd.read_csv('./expenditure.csv')
expenditure_2016=expenditure.iloc[:,[1,5,8]]
state_list=["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware",'District of Columbia',"Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]
show_all_feature(expenditure_2016)

                                    Description
   Other durable goods                       60
Personal consumption expenditures            60
  Other services                             60
   Recreational goods and vehicles           60
   Motor vehicles and parts                  60

In [186]:
person_consumption_expenditures=clean_state_df(expenditure_2016)
person_consumption_expenditures=extract_feature(person_consumption_expenditures,['Personal consumption expenditures'])
person_consumption_expenditures=person_consumption_expenditures.loc[:,['GeoName','2016']]
person_consumption_expenditures.columns=['GeoName','person consumption expenditure']
print(person_consumption_expenditures.head(5))

[ ' and reflect Census Bureau midyear population estimates for years 2010-2016 available as of December 2016. Per capita values are computed from unrounded data.'
 'Far West' 'Great Lakes' 'Mideast' 'New England' 'Plains' 'Rocky Mountain'
 'Southeast' 'Southwest' 'United States' 'nan']
        GeoName  person consumption expenditure
24      Alabama                        152397.0
48       Alaska                         36758.0
72      Arizona                        239680.0
96     Arkansas                         92984.0
120  California                       1641724.0

In [189]:
gdp=pd.read_csv('./gdp.csv')
gdp=gdp.loc[:,['GeoName','Description','2016Q1','2016Q2','2016Q3','2016Q4']]
#print(gdp.loc[gdp['2016Q1']=='(D)',:])

In [190]:
show_all_feature(gdp)

                                      Description
   Utilities                                   60
   Health care and social assistance           60
   Transportation and warehousing              60
   Other services, except government           60
     Durable goods manufacturing               60

In [191]:
gdp=gdp.loc[~gdp['2016Q1'].isin(['(L)','(D)']),:]# D and L means missing values I print D previously,
gdp['2016']=gdp['2016Q1'].astype(float)+gdp['2016Q2'].astype(float)+gdp['2016Q3'].astype(float)+gdp['2016Q4'].astype(float)
gdp.head(5)

,GeoName,Description,2016Q1,2016Q2,2016Q3,2016Q4,2016
0,United States,All industry total,18170091,18337791,18561915,18755370,73825167.0
1,United States,Private industries,15913806,16069119,16273097,16454134,64710156.0
2,United States,"Agriculture, forestry, fishing, and hunting",164987,162132,160066,152489,639674.0
3,United States,Mining,235103,258292,271615,293309,1058319.0
4,United States,Utilities,282165,283865,293901,292534,1152465.0

In [192]:
gdp_all_industry=extract_feature(gdp,['All industry total'])
gdp_all_industry=clean_state_df(gdp_all_industry)
gdp_all_industry=gdp_all_industry.loc[:,['GeoName','2016']]
gdp_all_industry.columns=['GeoName','gdp']
gdp_all_industry.head(5)

['Far West' 'Great Lakes' 'Mideast' 'New England' 'Plains' 'Rocky Mountain'
 'Southeast' 'Southwest' 'United States']

        GeoName         gdp
24      Alabama    819445.0
48       Alaska    202852.0
72      Arizona   1211807.0
96     Arkansas    482755.0
120  California  10410688.0

In [193]:
income_wage=pd.read_csv('./income_wage.csv')
income_wage=income_wage.loc[:,['GeoName','Description','2016']]
income_wage['GeoName']=income_wage['GeoName'].replace('Alaska*','Alaska')
income_wage['GeoName']=income_wage['GeoName'].replace('Hawaii*','Hawaii')
show_all_feature(income_wage)

                                                    Description
    Employer contributions for government socia...          120
  Less: Contributions for government social ins...           60
Per capita personal income (dollars) 4/                      60
  Wages and salaries                                         60
  Equals: Net earnings by place of residence                 60

In [194]:
income_wage=extract_feature(income_wage,['Personal income (thousands of dollars)'])
income_wage=clean_state_df(income_wage)
income_wage=income_wage.loc[:,['GeoName','2016']]
income_wage.columns=['GeoName','personal income']
income_wage.head(5)

['Far West' 'Great Lakes' 'Mideast' 'New England' 'Plains' 'Rocky Mountain'
 'Southeast' 'Southwest' 'United States']

        GeoName  personal income
23      Alabama     1.891620e+08
46       Alaska     4.128328e+07
69      Arizona     2.801200e+08
92     Arkansas     1.186980e+08
115  California     2.212691e+09

In [199]:
RPP=pd.read_csv('./RPP.csv')
RPP=RPP.loc[:,['GeoName','Description','2016']]
show_all_feature(RPP)
RPP=clean_state_df(RPP)
RPP=extract_feature(RPP,['RPPs: All items'])

                         Description
  RPPs: Goods                     52
  RPPs: Services: Other           52
RPPs: All items                   52
  RPPs: Services: Rents           52

['United States' 'nan']

In [200]:
RPP=RPP.loc[:,['GeoName','2016']]
RPP.columns=['GeoName','RPP']

In [201]:
irp=pd.read_csv('./implicit regional price inflator.csv')
irp=irp.loc[:,['GeoName','Description','2016']]
show_all_feature(irp)
irp=clean_state_df(irp)
irp=irp.loc[:,['GeoName','2016']]
irp.columns=['GeoName','irp']

                                  Description
Implicit regional price deflator           51

[ nan  nan  nan  nan]

In [205]:
from functools import reduce
dfs = [irp, RPP,gdp_all_industry,income_wage,person_consumption_expenditures]
df_final = reduce(lambda left,right: pd.merge(left,right,on='GeoName'), dfs)

In [207]:
df_final.to_csv('merge_state_data2.csv')